body {
}

#banner{
    background-color: #159dff;
    height:50px;
}

#menu{
    
}

.menuzemin {
    background-color: #7dc9ff;
}

#icerik{
    background-color: #efefef;
}

#footer{
    background-color: black;
    color:white;
}

.resim1{
    height: 200px;
    width: 200px;
}

#projeler{
    background-color: white;
    min-height: 300px;
    border:1px solid #e8e8e8;
}

#projebaslik{
    background-color:#7dc9ff;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin-top: 5px;
}

.proje{
}

.projeadi {
    margin: 0 10px 0 10px;
    height: 30px;
    line-height: 30px;
    color: #159dff;
    border-bottom: 1px solid #e8e8e8;
}

.projeresim{
    text-align:center;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 10px;
}

    .projeresim:hover{
        background-color: #d7eeff;
    }

    .projeresim img{
        height: 200px;
    }

.projedetay {
    height: 30px;
    width: 60px;
    border-radius: 10px;
    background-color: #ff8a37;
    color: white;
    text-align: center;
    vertical-align: central;
    padding: 5px 0 0 0;
}

    .projedetay a {
        color: white;
        text-decoration:none;
    }
    .projedetay a:horizontal {
        text-decoration: none;
    }
    .projedetay:hover{
        background-color: #edb10b;
    }

#urunler {
    background-color: white;
    min-height: 300px;
    border: 1px solid #e8e8e8;
}

#urunbaslik {
    background-color: #7dc9ff;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin-top: 5px;
}

.urun {
}

.urunadi {
    margin: 0 10px 0 10px;
    height: 30px;
    line-height: 30px;
    color: #159dff;
    border-bottom: 1px solid #e8e8e8;
}

.urunresim {
    text-align: center;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 10px;
}

    .urunresim:hover {
        background-color: #d7eeff;
    }

    .urunresim img {
        height: 200px;
    }

.urundetay {
    height: 30px;
    width: 60px;
    border-radius: 10px;
    background-color: #ff8a37;
    color: white;
    text-align: center;
    vertical-align: central;
    padding: 5px 0 0 0;
}

    .urundetay a {
        color: white;
        text-decoration: none;
    }

        .urundetay a:horizontal {
            text-decoration: none;
        }

    .urundetay:hover {
        background-color: #edb10b;
    }