<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OrnekServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49373/OrnekService.asmx"
                binding="basicHttpBinding" bindingConfiguration="OrnekServiceSoap"
                contract="ServiceReference1.OrnekServiceSoap" name="OrnekServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>